# Exclude the build directory
*/build/*

# Exclude mogenerator output
ChefsFeed/DumpModels/*
ChefsFeed/Classes/API.h

# Exclude VendorKit output
ChefsFeed.vendor*

# Exclude temp nibs and swap files
*~.nib
*.swp
 
# Exclude OS X folder attributes
.DS_Store
 
# Exclude user-specific XCode files
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#CocoaPods
Pods/